body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* background-color: rgb(250, 250, 248); */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* -moz-osx-font-smoothing: grayscale; */
}

/* NAV */

nav {
    width: 100vw;
    /* height: 15vh; */
    height: 105px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(196, 196, 247); */
    background-color: rgb(0, 0, 0);
}

#myName {
    font-size: 80px;
    color: white;
    font-style: italic;
    /* font-weight: 500; */
    margin-left: 20px;
    margin-top: -80px;
    opacity: 0;
    /* transition: margin-top 1.5s ease; */
}

#choices {
    margin-top: 13px;
}

#choices a {
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 1.0s ease;
    color: rgb(255, 255, 255);
}

#choices a:hover {
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
    transition: color .2s ease;
    color: rgb(118, 111, 255);
}

/* MAIN */

#mainHeader {
    text-align: center;
    margin-top: 50px;
}

/*  */

/* #name {
    font-size: 80px;
    font-style: italic;
    list-style: none;
    letter-spacing: 1px;
    color: #444;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    transition: width .8s ease;
    transition: margin-top .8s ease;
  } */

/* #name:hover {
    width: 0;
    margin-left: 20px;
    margin-top: -80px;
  } */

/* KEY FRAMES ANIMATIONS */

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }